* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    height: 100vh;
    width: 100vw;
    display: flexbox;
    
    }

h1 {
    color: rgba(0, 128, 17, 0.747);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding-left: 25px;
    margin-top: 10px;
}
h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 0px;
    
}
h3 {
    justify-content: center;
    color: rgba(245, 245, 245, 0.836);
    font-size: 20px;
    display: flex;
    padding-top: 0px;
    
   
}
h4 {
    text-align:right;
}
#container {
margin-top: 10px;
    background-image: url("./images/background.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    }

    #input-container {

    }
#search-trip {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}
#result {
    display: flex;
    flex-direction: row; 
    align-items: right;
    justify-content: end;
}

input {
    background-color: rgba(128, 128, 128, 0.281);
    
    
}


#btn-search {
    background-color: green;
    color: white
}